crowdcount.egg-info/
/build
*/build
*/*/build
*/*.pyc
*/*.so*
*/**/__pycache__
*/**/*.dylib*
*/**/*.pyc
*/**/*.pyd
*/**/*.so*
*/**/**/*.pyc
*/**/**/**/*.pyc
*/**/**/**/**/*.pyc
loukey.egg-info/
dist/
*.pyc
__pycache__
*.idea
*.DS_Store
*.gz
*.xml
*.pkl
alex_model.pkl
mall_dataset
*.tar
exp
./exp
*.h5
*.jpg
*.csv
*.npy
crowd_count/data/datasets/*
*.pt
runs/
./docs/_build
./docs/_templates
